body {
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    margin: auto;
}

/* Common Classes */

.primary-text {
    color: #DC4405;
}

.primary-background {
    background: #DC4405;
}
#logo {
    display: inline;
}
/* Header */

#main-header {
    border-bottom: 1px solid #DC4405;
}

/* Navbar */

#navbar {
    text-transform: Uppercase;
}
#navbar li {
    display: inline;
    padding-right: 20px;
    list-style: none; 
}
#navbar a {
    text-decoration: none;
    color: #000;
}
#navbar li.current a, #navbar a:hover{
    color: #DC4405;
    border-bottom: 3px solid #DC4405;
    padding-bottom: 3px;
}

/* Showcase */

#showcase {
    background: url('../images/showcase.jpg') no-repeat center center;
    background-size: 100%;
    border-bottom: 1px solid #DC4405;
    margin-bottom: 30px;
}
#showcase .row {
    height: 600px;
}
#showcase h1 {
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}
#showcase p {
    color: #fff;
    margin: 0;
}
#showcase .showcase-content {
    background: #000;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
    opacity: 0.9;
}

/* Features */

#features h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}
#features p {
    color: #888;
    margin: 0;
    margin-bottom: 40px;
}
#features .fas {
    font-size: 60px;
    color: #DC4405;
}

/* Info */
#info {
    background: #000;
    color: #DC4405;
    border-top: 1px solid #DC4405;
    border-bottom: 1px solid #DC4405;
}
#info h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 10px;
}
#info ul {
    list-style: none;
    padding: 0;
}
#info li {
    line-height: 2em;
    font-size: 20px;
}
#info h3 {
    text-transform: uppercase;
    color: #fff;
}

/* Company */
#company {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
#company h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}
#company ul {
    padding: 0;
    list-style: none;
    line-height: 2em;
}
#company input[type="text"]{
    padding: 7px;
}
#company button {
    background: #222;
    color: #fff;
    padding: 10px;
    border: 0;
}

/* Footer */

#main-footer {
    background: #DC4405;
    color: #000;
}

/* Page */

#page {
    margin-bottom: 40px;
}

/* About Us Page */

.about h2 {
    text-align: center;
    padding-bottom: 15px;
}

.about h3, .about h5 {
    padding: 0;
    margin: 0;
}
.about i {
    padding-left: 5px;
}
.about hr {
    border-color: #DC4405;
}

/* Services Page */

.services ul li {
    list-style: none;
    padding: 10px;
}


/* Contact */

.contact form input[type="text"]{
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}
.contact form textarea {
    width: 50%;
    height: 100px;
}
.contact form button {
    width: 50%;
    padding: 10px 0;
    border: 0;
    background: #222;
    color: #fff;
}
.contact form label {
    text-transform: uppercase;
}

/* Media Queries */

@media(max-width:1000px){
    #showcase h1 {
        font-size: 30px;
    }
}
@media(max-width:500px){
    #showcase .showcase-content {
        padding: 40px 10px;
        
    }
}
