/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Core Styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #272727;
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}
h1 {
  font-family: 'Lobster Two', cursive;
}
h2 {
  font-family: 'Kaushan Script', cursive;
}
p {
  margin: 0;
  padding: 1em 0;
}
.btn {
  display: inline-block;
  background: #333;
  color: #ff652f;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #14a76c;
  margin: 0.5em 0;
}
.btn:hover {
  background: #ff652f;
  color: #272727;
}
/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
  border-top: 3px solid #ffe400;
  border-bottom: 3px solid #14a76c;
}
.welcome {
  color: #14a76c;
  font-size: 60px;
}
#showcase .bg-image {
  position: absolute;
  background: #333
    url('https://static.pexels.com/photos/357408/pexels-photo-357408.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}
/* Navigation */
#nav ul {
  list-style-type: none;
  background-color: #333;
  position: fixed;
  opacity: 0.8;
  z-index: 999;
  margin-top: 3px;
}
#nav li {
  float: left;
  border-right: 2px solid #ff652f;
  border-bottom: 2px solid #ff652f;
}
#nav li a {
  display: block;
  color: #ff652f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 900;
}
#nav li a:hover {
  background-color: #111;
}
/* Showcase */
#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  font-size: 2em;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}
/* Section A */
#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
  border-bottom: 3px solid #14a76c;
}
#section-a .content-title,
#section-c .content-title {
  border-bottom: 3px solid #ff652f;
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 2em;
}
#section-a p {
  padding-top: 30px;
}
/* Section B */
#section-b {
  padding: 2em 1em 1em;
  border-bottom: 3px solid #14a76c;
}
#section-b .card {
  border: 1px solid #ff652f;
}
#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}
.card-content {
  padding: 1.5em;
}
.section-b-title {
  padding-bottom: 0;
  font-size: 2em;
}
/* Section C */
#section-c {
  background: url('background3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
}
#section-c {
  color: #333;
  padding: 5px;
}
#section-c p {
  padding-top: 0px;
}
#section-c h4 {
  color: #ff652f;
  font-weight: 900;
}
#section-c h5 {
  font-style: italic;
  color: #14a76c;
}
#section-c .fa {
  font-size: 50px;
  margin: 0 0 15px 25px;
  color: #272727;
}
#section-c a:first-child {
  margin: 0px;
}
/* Section D */
#section-d .box {
  padding: 2em;
  color: #ff652f;
  border-top: 3px solid #14a76c;
  border-bottom: 3px solid #14a76c;
  background-color: #000;
}
#section-d .box:first-child {
  color: #272727;
  background: #14a76c;
  border-top: 3px solid #ff652f;
  border-bottom: 3px solid #ff652f;
  align-items: center;
}
#section-d .content-title {
  font-size: 1.5em;
}
/* Footer */
#main-footer {
  padding: 2em;
  background: #333;
  text-align: center;
  border-bottom: 3px solid #ffe400;
}
#main-footer a {
  text-decoration: none;
  color: #14a76c;
}
#main-footer .left-title {
  color: #ff652f;
}
#main-footer .right-title {
  color: #14a76c;
}
/* Contact Form */
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #14a76c;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Media Querie */
@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-text p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }
  .box,
  #main-footer div {
    grid-column: span 2;
  }
  #section-b ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li {
    width: 31%;
  }
}
